<div class="div">
    <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info">
                                <img style="max-width: 100%;display: block;
                                margin-left: auto;
                                margin-right: auto;" src="assets/img/logo-thank.png" >
                                <br>
                                <h1 style="text-align: center;color: #16253c;">THANK YOU FOR REGISTERING WITH US!</h1>
                                 <p style="text-align: center;font-size: 27px;
                                font-style: italic;">Please Wait ...</p>
                            
                                <!--p style="text-align: center;font-size: 27px;
                                font-style: italic;">To start your game of qualifiers visit at the link below.</p-->
                        </div>
                    </div>
                </div>
    </div>
    
 
 <div id="copyright" style="position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-info">
                    <p> &copy; Poker Sports League. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Offer Conversion:  -->
<img src="https://link.secure2c2c.com/success.jpg?afstatus=1&afid={SUB_ID}” height="1" width="1" alt="" />
<!-- End Offer Conversion -->

