<span class="anchor" id="schedules"></span>
<section id="schedules_t" class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Events Schedule</h1>

                </div>
            </div>
        </div>
        <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
            <div style="height: 445px;overflow-y: auto;overflow-x: hidden;" class="schedule-tab-title col-md-3 col-lg-3 col-xs-12">
                <div class="table-responsive" style="overflow-x: hidden;">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        
                        <li class="nav-item">
                            <a class="nav-link active" id="tuesday-tab" data-toggle="tab" href="#tuesday" role="tab"
                                aria-controls="tuesday">
                                <div class="item-text">
                                    <h4> Online Qualifiers</h4>
                                    <h5>Nov 14th '19 - Feb 5th '20</h5>
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="schedule-tab-content col-md-9 col-lg-9 col-xs-12 clearfix">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade " id="monday" role="tabpanel" aria-labelledby="monday-tab">
                        <div id="accordion">
                            <div class="card">
                                <div id="headingOne">
                                    <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <div class="images-box">
                                           
                                        </div>
                                        
                                        <h4>Registrations for PSL Season 3</h4><br>

                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>October 1 to January 5 - Registrations for PSL Season 3 starts on October 1 and will continue till January 5.</p>
                                       

        
                                        <div class="location">
                                            <span>Location:</span> Pan India.
                                        </div>
                                       

                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="card">
                                <div id="headingTwo">
                                    <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>15 Free Productive Design Tools</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-3.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>Getting Started With SketchApp</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
                        <div id="accordion2">
                            <div class="card">
                                <div id="headingOne1">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
-->
                                        </div>
                                        <span class="time"></span>
                                        <h4> Online Qualifiers </h4><br>

                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1"
                                    data-parent="#accordion2">
                                    <div class="card-body">
                                        <p style="font-size: 22px;"><strong>Online Qualifiers</strong></p>
                            
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> Online Qualifiers start on November 14th, 2019 on adda52.com</p>
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> Qualifiers will be held at 8 pm every Thu/Fri/Sat/Sun.</p>
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> There will be 72 online events, ending Feb 5th, 2020.</p>
                                        <p style="font-size: 22px;"><strong>Player Rules and Leaderboard for Online Qualifiers</strong></p>
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> Each player can play a maximum of 18 online qualifiers.</p>
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> Players must have registered on the PSL website to play online qualifiers.</p>
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> The concept of “region” has been eliminated for Season 3.</p>
                                        <p style="text-align: justify; font-size: 18px;"> <i class="fa fa-arrow-right" ></i> 100 % of the Field size gets points towards the leaderboard</p>
                                        <ul>
                                            <li style="text-align: justify; font-size: 18px;"> <i class="	fa fa-arrow-right" ></i> Leaderboards are updated Twice a week on our social media page and website.</li>
                                            <li style="text-align: justify; font-size: 18px;"> <i class="	fa fa-arrow-right" ></i> Post the 72 qualifiers the top 90 players make it to the leaderboard</li>
                                    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="card">
                                <div id="headingTwo2">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>Web Design Principles and Best Practices</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                                    data-parent="#accordion2">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wednesday" role="tabpanel" aria-labelledby="wednesday-tab">
                        <div id="accordion3">
                            <div class="card">
                                <div id="headingOne3">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
-->
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4> Qualifiers (Online)</h4>

                                    </div>
                                </div>
                                <div id="collapseOne3" class="collapse show" aria-labelledby="headingOne3"
                                    data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Nov to Feb 5-Qualifiers (Online) -Our online qualifiers are for poker
                                            enthusiasts who
                                            are unable to or can’t travel to our On Ground qualifiers. There will be a total
                                            of 24 online
                                            qualifiers out of which a player is permitted to play a maximum of 6. X% of
                                            players will
                                            be awarded leaderboard points based on this formula *link*. Top players on
                                            the
                                            leaderboard will be awarded a spot in the Online qualifiers draft.</p>
                                        <p>
                                            On Ground Qualifiers.
                                        </p>

                                        <p>
                                            From January 15 to Feb 5
                                        </p>
                                        <div class="location">
                                            <span>Location:</span> &gt;Bangalore
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="card">
                                <div id="headingTwo3">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>Web Design Principles and Best Practices</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo3"
                                    data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree3">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseThree3" aria-expanded="false"
                                        aria-controls="collapseThree3">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-3.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>Web Design Principles and Best Practices</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3"
                                    data-parent="#accordion3">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>


                    <div class="tab-pane fade" id="feb" role="tabpanel" aria-labelledby="feb-tab">
                        <div id="accordion-feb">
                            <div class="card">
                                <div id="headingfeb">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapsefeb" aria-expanded="false" aria-controls="collapsefeb">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
-->
                                        </div>
                                        <span class="time">February 12</span>
                                        <h4>Leaderboard</h4>

                                    </div>
                                </div>
                                <div id="collapsefeb" class="collapse show" aria-labelledby="headingfeb"
                                    data-parent="#accordion-feb">
                                    <div class="card-body">
                                        <p>Once the live and on-ground qualifiers complete on Feb 5th,  there will be two separate leaderboards made for each category. These will be published on Feb 12th. At the same time,  all bios and player data will be shared by Poker Sports League to the team owners and mentors for evaluation.</p>
                                        <!--div class="location">
                                            <span>Location:</span>TBA
                                        </div-->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-pane fade" id="feb1" role="tabpanel" aria-labelledby="feb1-tab">
                        <div id="accordion-feb1">
                            <div class="card">
                                <div id="headingfeb2">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapsefeb2" aria-expanded="false" aria-controls="collapsefeb2">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
-->
                                        </div>
                                        <span class="time">February 13 - February 28</span>
                                        <h4>Player Interviews</h4>

                                    </div>
                                </div>
                                <div id="collapsefeb2" class="collapse show" aria-labelledby="headingfeb2"
                                    data-parent="#accordion-feb1">
                                    <div class="card-body">
                                        <p>During this period, mentors will connect with the players who have made it to the draft and interview them before the selection.</p>
                                        <!--div class="location">
                                            <span>Location:</span>TBA
                                        </div-->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                    <div class="tab-pane fade" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
                        <div id="accordion4">
                            <div class="card">
                                <div id="headingOne">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
-->
                                        </div>
                                        <span class="time">March 1st</span>
                                        <h4>Selection Ceremony</h4>

                                    </div>
                                </div>
                                <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Picks are made, teams are drafted. Wildcards are announced.</p>
                                        <div class="location">
                                            <span>Location:</span>New Delhi
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--div class="card">
                                <div id="headingTwo">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                        </div>
                                        <span class="time">March 16 - March 17</span>
                                        <h4>Boot Camp</h4>

                                    </div>
                                </div>
                                <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>Players are given time to get to know their opponents and their
                                            team along with working on their game.</p>
                                        <div class="location">
                                            <span>Location:</span>TBA
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card">
                                <div id="headingThree4">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseThree4" aria-expanded="false"
                                        aria-controls="collapseThree4">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-3.jpg" alt="">
                                        </div>
                                        <span class="time">March 15 - March 16</span>
                                        <h4>League Maches</h4>

                                    </div>
                                </div>
                                <div id="collapseThree4" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion4">
                                    <div class="card-body">
                                        <p>The league will consist of 5 days. With various events being played each day
                                            and points being awarded for the same.</p>
                                        <div class="location">
                                            <span>Location:</span>TBA
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="thursday2" role="tabpanel" aria-labelledby="thursday2-tab">
                        <div id="accordion-mar">
                            <div class="card">
                                <div id="headingmar">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapsemar" aria-expanded="false" aria-controls="collapsemar">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
-->
                                        </div>
                                        <span class="time">March 16 - March 17</span>
                                        <h4>Boot Camp</h4>

                                    </div>
                                </div>
                                <div id="collapsemar" class="collapse show" aria-labelledby="headingmar"
                                    data-parent="#accordion-mar">
                                    <div class="card-body">
                                        <p>Players are given time to get to know their opponents and their
                                            team along with working on their game.</p>
                                        <div class="location">
                                            <span>Location:</span>Kolkata
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
                        <div id="accordion">
                            <div class="card">
                                        <div id="headingleague">
                                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseleague"
                                                aria-expanded="false" aria-controls="collapseOne">
                                                <div class="images-box">
<!--
                                                    <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
-->
                                                </div>
                                                <span class="time">March 18 - March 21 </span>
                                                <h4>League Matches</h4>
        
                                            </div>
                                        </div>
                                        <div id="collapseleague" class="collapse show" aria-labelledby="headingleague"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                <p>The league will consist of 5 days. With various events being played each day and points being awarded for the same.</p>
                                                <div class="location">
                                                    <span>Location:</span> Kolkata
                                                </div>
                                            </div>
                                        </div>
                            </div>

                            
                            <!--
                            <div class="card">
                                <div id="headingTwo">
                                    <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>Web Design Principles and Best Practices</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree">
                                    <div class="collapsed card-header" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <div class="images-box">
                                            <img class="img-fluid" src="assets/img/speaker/speakers-3.jpg" alt="">
                                        </div>
                                        <span class="time">10am - 12:30pm</span>
                                        <h4>Web Design Principles and Best Practices</h4>
                                        <h5 class="name">David Warner</h5>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium
                                            ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis
                                            lobortis.</p>
                                        <div class="location">
                                            <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                             -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="friday2" role="tabpanel" aria-labelledby="friday-tab2">
                        <div id="accordion">
                            <div class="card">
                                <div id="headingOne">
                                    <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOneFinale"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <div class="images-box">
<!--
                                            <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
-->
                                        </div>
                                        <span class="time">March 22 </span>
                                        <h4> Grand Finale</h4>

                                    </div>
                                </div>
                                <div id="collapseOneFinale" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Final Main Event of Poker Sports League Season 3</p>
                                        <div class="location">
                                            <span>Location:</span> Kolkata
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
